#container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: black;
    border-width: 2.5px;
    background-color: rgb(68, 115, 255);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
button:hover{
    background-color:  rgb(68, 135, 255);;
}
button:active{
    background-color:  rgb(68, 145, 255);;
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    
}